name: CI (release)

on:
  push:
    branches:
      - v1
  schedule:
    - cron: '0 6 * * 6'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:





      - uses: oprypin/find-latest-tag@v1
        with:
          repository: oprypin/find-latest-tag
        id: self
      - run: |
          [[ "${{ steps.self.outputs.tag }}" == v1.* ]]

      - uses: oprypin/find-latest-tag@v1
        with:
          repository: oprypin/test-private-repo
          token: ${{ secrets.PERSONAL_TOKEN }}
        id: priv
      - run: |
          [[ "${{ steps.priv.outputs.tag }}" == v1.3.7 ]]
